body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
        "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref",
        sans-serif;
    font-size: 12pt;
}

h1, h2, h3, h4, h5 {
    font-family: "Reforma 1918", Constantia, "Lucida Bright", Lucidabright,
        "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
        "Liberation Serif", Georgia, serif;
}

.avatar {
    width: 48px;
    max-width: 48px;
    height: 48px;
    border-radius: 50%;
}

.comments {
    margin: 0 auto;
    max-width: 1024px;
}

.comments-title {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.comments-form {
    display: flex;
    padding: 1rem 0;
    width: 100%;
    border-bottom: 1px solid #CFD8DC;
    margin-bottom: 1rem;
}

.comments-form .comments-textarea {
    flex: 1;
    margin: 0 1rem;
    padding: 0.5rem;
    border: #EEEEEE 1px solid;
    box-shadow: #F0F0F0 0px 1px 0px 0px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 1rem;
}

.comments-form .comments-textarea:focus {
    box-shadow: 0px 0px 16px 0px #BDBDBD;
}

.comments-form .comments-submit {
    margin: 0.25rem 0.5rem;
    padding: 0.5rem;
    background-color: #7E57C2;
    color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.12);
}

.comment {
    display: flex;
    margin: 1rem 0;
}

.comment-content {
    padding: 0 1rem;
}

.comment-author-date, .comment-actions {
    font-size: 10pt;
    color: #424242
}

.comment-author-name {
    font-weight: bold;
}

.comment-body {
    padding: 0.5rem 0;
}
