body {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 12pt;
  padding: 1rem 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Reforma 1918", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif",
    Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.avatar {
  width: 48px;
  max-width: 48px;
  height: 48px;
  border-radius: 50%;
}

.comments {
  margin: 0 auto;
  max-width: 1024px;
}

.comments-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.comments-form {
  display: flex;
  padding: 1rem 0 2rem;
  width: 100%;
  border-bottom: 1px solid #cfd8dc;
  margin-bottom: 2rem;
}

.comments-form .comments-textarea {
  flex: 1;
  margin: 0 1rem;
  padding: 1rem;
  line-height: 12pt;
  height: calc(14pt + 2rem);
  border: #eeeeee 1px solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 1rem;
}

.comments-form .comments-textarea::placeholder {
  color: #bdbdbd;
  text-align: center;
}

.comments-form .comments-textarea:focus {
  box-shadow: 0px 0px 0.667rem 0px rgba(0, 0, 0, 0.25);
}

.comments-form .comments-submit {
  margin: 0.33rem 0.5rem;
  padding: 0.667rem;
  height: min-content;
  background-color: #7e57c2;
  color: white;
  border-radius: 0.25rem;
  box-shadow: #EEEEEE 0px 2px 0px 0px;
  transition: all 0.3s ease-in-out;
}

.comments-submit:hover, .comments-submit:focus {
    background-color: #9575CD;
    box-shadow: 0px 0px 16px 0px #9E9E9E;
}

.comments-submit:active {
    background-color: #673AB7
}

.comment {
  display: flex;
  margin: 1.5rem 0;
}

.comment-content {
  padding: 0 1rem;
}

.comment-author-date,
.comment-actions {
  font-size: 10pt;
  color: #424242;
}

.comment-author-name {
  font-weight: bold;
}

.comment-body {
  padding: 0.5rem 0;
}

.comment-actions {
  display: flex;
  align-items: baseline;
}

.comment-actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  transition: color 0.25s ease-in-out;
}

.comment-actions button:hover {
    color: #FFA726;
}

.comment-actions button:active {
    color: #FF9800
}

#toast {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5rem;
  font-size: 10pt;
  z-index: 9999;
  opacity: 1;
  border-radius: 0.2rem;
  background-color: #66BB6A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.333rem 0;
  color: white;
  transition: opacity 0.2s ease-in-out;
}

#toast.hidden {
  opacity: 0;
}
