.comment {
  display: flex;
  margin: 1.5rem 0;
}

.comment-content {
  padding: 0 1rem;
}

.comment-author-date,
.comment-actions {
  font-size: 10pt;
  color: #424242;
}

.comment-author-name {
  font-weight: bold;
}

.comment-body {
  padding: 0.5rem 0;
}

.comment-actions {
  display: flex;
  align-items: baseline;
}

.comment-actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  transition: color 0.25s ease-in-out;
}

.comment-actions button:hover {
  color: #ffa726;
}

.comment-actions button:active {
  color: #ff9800;
}
