body {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 12pt;
  padding: 1rem 2rem;
}

.avatar {
  width: 48px;
  max-width: 48px;
  height: 48px;
  border-radius: 50%;
}

.comments {
  margin: 0 auto;
  max-width: 1024px;
}

.comments-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.error {
  padding: 1rem;
  background-color: #ffcdd2;
  border: 1px solid #ef9a9a;
  border-radius: 0.25rem;
  color: #b71c1c;
}

.error h5 {
  font-size: 14pt;
  margin-bottom: 0.5rem;
}

.error p {
  margin-top: 0.5rem;
}

.error a {
  font-size: 10pt;
  text-decoration: underline;
}
