body {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  font-size: 12pt;
  padding: 1rem 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Reforma 1918", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif",
    Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.avatar {
  width: 48px;
  max-width: 48px;
  height: 48px;
  border-radius: 50%;
}

.comments {
  margin: 0 auto;
  max-width: 1024px;
}

.comments-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}
